<style type="text/css">
.ghContributors{
display:flex;
flex-flow:  wrap;
align-content: flex-start
}

.ghContributors > div{
width: 50% ;
display: inline-flex;
margin-bottom: 5px;
}
.ghContributors > div label{
padding-left: 4px ;
}
.ghContributors > div span{
font-size: x-small;
padding-left: 4px ;
}

</style>
<div class="ghContributors">
  {{ $url := .Get 0 }}
  {{ range $contributor := getJSON $url }}
  {{ $contributor_url := add (add "https://gitlab.com/api/v4/users?search=" $contributor.email) "&private_token=6nQr_nCPYyhdMPb5tsdd"}}
  {{ range getJSON  $contributor_url }}
  <div>
    <img src="{{.avatar_url}}" class="inline" width="32" height="32" style="height: 32px;height: 32px;margin-bottom:.25em; vertical-align:middle; ">
    <label><a href="{{.web_url}}">@{{.name}}</a></label>
    <span class="contributions">{{$contributor.commits}} commits</span>
  </div>
  {{ end }}
  {{ end }}
</div>